// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
  width: 100%;
  background-color: #89b8de;
  color: #fff;
  text-align: center;
  padding: 10px 0 5px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}